body {
    font-family: Arial, sans-serif;
}
#messages {
    height: calc(100vh - 300px);
    overflow-y: scroll;
    padding: 10px;
}
@media screen and (min-width: 845px) {
    #messages {
        height: calc(100vh - 200px);
    }
}
@media screen and (min-height: 600px) {
    #messages {
        height: calc(100vh - 242px);
    }

    #messages.androidBrowser {
        height: calc(100vh - 297px);
    }
}
#messageInput {
    border: 1px solid lightgray;
    padding: 12px;
    width: calc(100% - 0px);
    height: calc(13vh - 0px);
    position: absolute;
    bottom: 0px;
    margin-bottom: 56px;
}
.chunk {
    color: orangered;
}
.chunk_reprocessed {
    color: lightcoral;
}
.chunk_reprocessed.hidden {
    display: none;
}
.user {
    color: blue;
}
.assistant {
    color: red;
}
.progress-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
}
.avatar {
    width: 88px;
    height: auto;
    /*transition: all 0.5s ease;*/
}
.avatar:hover {
    width: 100%;
    transform: scale(1.07);
}
.avatar.hidden {
    display: none;
}
.card.sending{
    opacity: 0.5;
}
.card.user {
    text-align: left;
    float: left;
    color: whitesmoke;
   /*  background-color: #d4edda; */
}
.card.assistant,
.card.avatar {
    text-align: right;
/*     background-color: #f8f9fa;
 */    float: right;
}
.card.system {
    text-align: center;
    color: #6c757d;
    opacity: 0.666;
    float: right;
}
.card-time{
    font-size: 9px;
    color: #6c757d;
    text-align: right;
    clear: both;
    width: 100%;
}

.card {
    margin-bottom: 10px;
    padding: 10px;
    clear: both;
}
.card .card-content {
    user-select: auto;
    display: inline-block;
    padding: 12px;
}


#installMessage {
    display: none;
}

@media screen and (max-width: 845px) {
    #installMessage {
        display: block;
    }
}


.card .card-content img{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.centered{
    text-align: center;
    margin: 0 auto;
}
.debug-list pre{
    text-align: left;
    overflow-x: auto;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .runningCog {
    transition: transform 0.5s;
  }
  
  .runningCog.running {
    animation: spin 1s linear infinite;
  }
  .list-group-item{
    padding-left: 12px;
  }

  .clickable{
    cursor: pointer;
  }